<h3>导入包</h3>

In [33]:
import numpy as np
import pandas as pd

<h3>读取数据</h3>

In [34]:
train_rain = pd.read_csv("../data/A榜/train/A-雨量水位（2014-2019）.csv")
train_rain.shape

(3252327, 14)

<h3>数据预处理</h3>

<h4>时间预处理</h4>

In [35]:
train_rain["TIME"] = pd.to_datetime(train_rain["TIME"])
train_rain["year"] = train_rain["TIME"].dt.year
train_rain["month"] = train_rain["TIME"].dt.month
train_rain["day"] = train_rain["TIME"].dt.day
train_rain["hour"] = train_rain["TIME"].dt.hour
train_rain["minute"] = train_rain["TIME"].dt.minute
train_rain["second"] = train_rain["TIME"].dt.second

<h3>探索性数据分析</h3>

In [36]:
train_rain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252327 entries, 0 to 3252326
Data columns (total 20 columns):
 #   Column  Dtype
---  ------  -----
 0   NAME    object
 1   SENID   int64
 2   TIME    datetime64[ns]
 3   V       float64
 4   AVGV    float64
 5   MAXV    float64
 6   MAXT    object
 7   MINV    float64
 8   MINT    object
 9   S       float64
 10  AVGS    float64
 11  MAXS    float64
 12  MINS    float64
 13  SPAN    int64
 14  year    int32
 15  month   int32
 16  day     int32
 17  hour    int32
 18  minute  int32
 19  second  int32
dtypes: datetime64[ns](1), float64(8), int32(6), int64(2), object(3)
memory usage: 421.8+ MB

In [37]:
train_rain_one = train_rain[(train_rain["SENID"] == 210254) & (train_rain["year"] == 2015) & (train_rain["month"] == 9) & (train_rain["day"] == 26)]

In [38]:
train_rain_one.shape

(1, 20)

In [39]:
train_rain_one.sort_values("TIME")

,NAME,SENID,TIME,V,AVGV,MAXV,MAXT,MINV,MINT,S,AVGS,MAXS,MINS,SPAN,year,month,day,hour,minute,second
15828,下洋坂雨量,210254,2015-09-26 03:00:00,1.0,1.0,1.0,2015/9/26 3:00:00,1.0,2015/9/26 3:00:00,1.0,1.0,2.0,2.0,1,2015,9,26,3,0,0